Package: genpwd
Version: 0.0.1.0
Depends: bash, wget
Recommends: zsh, tilix
Section: genpwd
Maintainer: Discord/NamelessNanashi
Priority: optional
Architecture: amd64
Provides: genpwd
Description: simple installer for my genpwd tool
